/ app/views/errors/404.html.slim
section.text-center.my-20.h-screen.mx-auto
  h1.text-4xl.font-bold.text-red-500 404 - Not Found Page
  p.mt-4.text-gray-600 Page are not exits.
  = link_to "Back to home", root_path, class: "text-indigo-600 hover:underline"
