section.text-center.my-20.h-screen

  h1.text-4xl.font-bold.text-red-600 500 - Internal Server Error
  p.mt-4.text-gray-700
    | Something went wrong on our end. Please try again later.
  = link_to "Back to home", root_path, class: "text-indigo-600 hover:underline"
