section.container.mx-auto.max-w-7xl.my-20.max-w-4xl.bg-white
  .relative
    h2.text-2xl.font-bold.text-gray-800.mb-6
      | Post Details

    - if @post.image_url.present?
      img.size-60.object-cover.rounded-md.mb-4 src=@post.image_url alt=@post.title

    h3.text-xl.font-semibold.text-gray-900.mb-2
      = @post.title

    p.text-gray-600.mb-4
      = @post.content

    - if @post.category.present?
      p.text-sm.text-gray-500.mb-4
        | Category:
        = @post.category.name

    = turbo_stream_from "comments_for_post_#{@post.id}"

    #comments
      = render partial: "comments/shared/comment_with_actions",
      collection: @comments,
      as: :comment,
      locals: { post: @post, current_user: current_user }


    #comment_form
      = render "comments/shared/form", post: @post
