section.container.h-screen.my-20.mx-auto
  .w-full.max-w-7xl.bg-white.shadow-lg.rounded-lg.p-6.mx-auto
    = render "admin/categories/shared/form", category: @category, method: :patch, url: admin_category_path(@category)
    
