section.container.h-screen.my-20.mx-auto
  .w-full.max-w-md.bg-white.shadow-lg.rounded-lg.p-6.mx-auto
    = render "admin/categories/shared/form", category: @category, method: :post, url: admin_categories_path 
    
