doctype html
html
  head
    title
      = content_for(:title) || "Rails Vite"
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    meta[name="apple-mobile-web-app-capable" content="yes"]
    / meta[name="turbo-prefetch" content="false"]
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    / link[rel="manifest" href="/manifest.json"]
    link[href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"]
    link[rel="icon" href="/icon.png" type="image/png"]
    link[rel="icon" href="/icon.svg" type="image/svg+xml"]
    link[rel="apple-touch-icon" href="/icon.png"]
   
    = vite_client_tag
    = vite_javascript_tag 'application'
    = vite_stylesheet_tag 'application.scss', data: { "turbo-track": "reload" }
    / If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
  body
    header = render 'shared/header'
    / p.notice
    /   = notice
    / p.alert
    /   = alert

    / - if user_signed_in?
    /   / = link_to 'Profile', edit_user_registration_path
    /   = button_to 'Log Out', destroy_user_session_path, method: :delete

    / - else
      / = link_to 'Sign In', new_user_session_path
      / = link_to 'Sign Up', new_user_registration_path

    main
      = yield
    footer = render 'shared/footer'
